{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}关于-花语{% endblock %}
{% block content %}
    <div id="main" class="bit_main_content">


        <div class="main-gradient"></div>

        <div class="wf-wrap">
            <div class="wf-container-main">


                <div id="content" class="content" role="main">


                    <div class="main-outer-wrapper ">
                        <div class="bit_row">

                            <div class="twelve columns no-sidebar-content ">

                                <div class="bit_row">

                                    <div class="content-wrapper twelve columns ">
                                        <section data-fixheight=""
                                                 class="qfy-row-1-5b2c9cb949a47435232 section     bothfull  section-text-no-shadow section-inner-no-shadow section-normal"
                                                 id="bit_6nbg5"
                                                 style="margin-bottom:0;border-radius:0px;color:#666666;">
                                            <style class="row_class qfy_style_class">
                                                @media only screen and (min-width: 992px) {
                                                    section.section.qfy-row-1-5b2c9cb949a47435232 {
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        padding-top: 0;
                                                        padding-bottom: 0;
                                                        margin-top: 0;
                                                    }
                                                }

                                                @media only screen and (max-width: 992px) {
                                                    .bit-html section.section.qfy-row-1-5b2c9cb949a47435232 {
                                                        padding-left: 15px;
                                                        padding-right: 15px;
                                                        padding-top: 0;
                                                        padding-bottom: 0;
                                                        margin-top: 0;
                                                        min-height: 0;
                                                    }
                                                }
                                            </style>
                                            <div class="section-background-overlay background-overlay grid-overlay-0 "
                                                 style="background-color: #ffffff;"></div>

                                            <div class="container">
                                                <div class="row qfe_row">
                                                    <div data-animaleinbegin="90%" data-animalename="qfyfadeInUp"
                                                         data-duration="" data-delay=""
                                                         class=" qfy-column-1-5b2c9cb949e7c605501 qfy-column-inner  vc_span12  text-default small-screen-undefined fullrow"
                                                         data-dw="1/1" data-fixheight="">
                                                        <div style=";position:relative;" class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <style>@media only screen and (max-width: 768px) {
                                                                    .single_image_text-5b2c9cb94a9eb539 .head {
                                                                        font-size: 16px !important;
                                                                    }

                                                                    .single_image_text-5b2c9cb94a9eb539 .content {
                                                                        font-size: 16px !important;
                                                                    }
                                                                }</style>
                                                                <div id="vc_img_5b2c9cb94a920442"
                                                                     style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;"
                                                                     m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_single_image_gq3b8" data-anitime="0.7"
                                                                     class="qfy-element bitImageControlDiv "><a
                                                                        class="bitImageAhover  ">
                                                                    <div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
                                                                        <div class="qfe_wrapper"><span></span><img
                                                                                width="2000" height="490"
                                                                                src="{% static 'images/e5cb4c013f9b15f9a364b5c5209fdf72.jpg' %}"
                                                                                class="front_image  attachment-full"
                                                                                alt="about_bg00" title="" description=""
                                                                                data-title="about_bg00" src-img=""
                                                                                style=""></div>
                                                                    </div>
                                                                </a></div>
                                                                <a class="bitImageAhover  "> </a></div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-1-5b2c9cb949e7c605501 > .column_inner {
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-1-5b2c9cb949e7c605501 {
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-1-5b2c9cb949e7c605501 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top:;
                                                            padding-bottom:;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-1-5b2c9cb949e7c605501 {
                                                        }

                                                        .qfy-column-1-5b2c9cb949e7c605501 > .column_inner > .background-overlay, .qfy-column-1-5b2c9cb949e7c605501 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                </div>
                                            </div>

                                        </section>
                                        <section data-fixheight=""
                                                 class="qfy-row-2-5b2c9cb94aba1350279 section     no  section-text-no-shadow section-inner-no-shadow section-normal"
                                                 id="bit_wsezt"
                                                 style="margin-bottom:0;border-radius:0px;border-top:1px dotted rgba(191,191,191,1);border-bottom:0px solid rgba(219,219,219,1);border-left:0px solid rgba(219,219,219,1);border-right:0px solid rgba(219,219,219,1);color:#666666;">
                                            <style class="row_class qfy_style_class">
                                                @media only screen and (min-width: 992px) {
                                                    section.section.qfy-row-2-5b2c9cb94aba1350279 {
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        padding-top: 60px;
                                                        padding-bottom: 100px;
                                                        margin-top: 0;
                                                    }

                                                    section.section.qfy-row-2-5b2c9cb94aba1350279 > .container {
                                                        max-width: 1280px;
                                                        margin: 0 auto;
                                                    }
                                                }

                                                @media only screen and (max-width: 992px) {
                                                    .bit-html section.section.qfy-row-2-5b2c9cb94aba1350279 {
                                                        padding-left: 15px;
                                                        padding-right: 15px;
                                                        padding-top: 60px;
                                                        padding-bottom: 100px;
                                                        margin-top: 0;
                                                        min-height: 0;
                                                    }
                                                }
                                            </style>
                                            <div class="section-background-overlay background-overlay grid-overlay-0 "
                                                 style="background-color: #ffffff;"></div>

                                            <div class="container">
                                                <div class="row qfe_row">
                                                    <div data-animaleinbegin="bottom-in-view"
                                                         data-animalename="qfyfadeInUp" data-duration="" data-delay=""
                                                         class=" qfy-column-2-5b2c9cb94aeb8342382 qfy-column-inner  vc_span_class  vc_span8  text-default small-screen-undefined notfullrow"
                                                         data-dw="2/3" data-fixheight="">
                                                        <div style=";position:relative;" class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <div m-padding="0px 0px 34px 0px" p-padding="0 0 34px 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_xnysg" data-anitime="0.7"
                                                                     class="qfy-element qfy-text qfy-text-44652 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:34px;padding-right:0;padding-left:0;border-radius:0px;">
                                                                    <div class="qfe_wrapper">
                                                                        <div style="position: relative;">
                                                                            <div><span style="font-size:22px;"><span
                                                                                    style="font-family:微软雅黑;"><span
                                                                                    style="color:#000000;">品牌介绍</span></span></span>
                                                                            </div>

                                                                            <div><span style="font-family:arial;"><span
                                                                                    style="font-size:14px;"><span
                                                                                    style="color:#A9A9A9;">Brand Introduction</span></span></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div m-padding="42px 0px 2px 0px"
                                                                     p-padding="42px 0 2px 0" css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_6y4cz" data-anitime="0.7"
                                                                     class="qfy-element qfy-text qfy-text-29673 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:42px;padding-bottom:2px;padding-right:0;padding-left:0;border-radius:0px;border-top:1px solid rgba(224,224,224,1);border-bottom:0px solid rgba(191,191,191,1);border-left:0px solid rgba(191,191,191,1);border-right:0px solid rgba(191,191,191,1);">
                                                                    <div class="qfe_wrapper">
                                                                        <div style="position: relative;">
                                                                            <div><span style="font-family:微软雅黑;"><span
                                                                                    style="color:#808080;"><span
                                                                                    style="font-size:12px;">応损捠捡换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢；峣峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怣怤怦怩怫怬怭。怮怯怰，怲怳怴怵怶怷怸怹怺怼悙怿。恀恁恂恃恄恅，恒恇恈恉恊恌恍恎恏。恑恒！恓恔恖恗恘恙恚恛恜恝恞恠恡恦，恻恽恾恿悀悁悂悃悆悇悈悊。</span></span></span>
                                                                            </div>

                                                                            <div><span style="font-family:微软雅黑;"><span
                                                                                    style="color:#808080;"><span
                                                                                    style="font-size:12px;">&nbsp;</span></span></span>
                                                                            </div>

                                                                            <div><span style="font-family:微软雅黑;"><span
                                                                                    style="color:#808080;"><span
                                                                                    style="font-size:12px;">朳枛朸桸桹桺奿妀恂恃恄恅恒恇恈恉恊恌恍恎恏。恑恒！恓恔恖恗恘恙恚恛恜恝恞恠恡。忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍怏怐怑怓怔怗怘怙怚怛怞怟怡怢怣怤怦怩怫怬怭。怮怯怰，怲怳怴怵怶怷怸怹怺怼悙怿。恀恁恂恃恄恅，恒忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍応损捠捡换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧圩圪囡団囤囥咍咎.攴 朰朲朳枛朸桸桹桺奿妀恂恃恄恅恒恇恈恉恊恌恍恎恏。恑恒！恓恔恖恗恘恙恚恛恜恝恞恠恡。忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅 怆怇怈怉怊怋怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怣怤怦怩怫怬怭。怮怯怰，怲怳怴怵怶怷怸怹怺怼悙怿。恀恁恂恃恄恅，恒忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳 忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍応损捠捡换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧圩圪囡団囤囥咍咎。</span></span></span>
                                                                            </div>

                                                                            <div><span style="font-family:微软雅黑;"><span
                                                                                    style="color:#808080;"><span
                                                                                    style="font-size:12px;">&nbsp;</span></span></span>
                                                                            </div>

                                                                            <div><span style="font-family:微软雅黑;"><span
                                                                                    style="color:#808080;"><span
                                                                                    style="font-size:12px;">怦怩怫怬怭怲怳怴怵怶怷怸怹怺怼悙怿。恀恁恂恃恄恅，恒忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍応损捠捡换，攴朰朲朳枛朸桸桹桺奿妀夲夳夵壱売壳圢圤圥圦圧圩圪囡団囤囥咍咎.攴 朰朲朳枛朸桸桹桺奿妀恂恃恄恅恒恇恈恉恊恌恍恎恏<span
                                                                                    style="font-size: 12px;">怫怬怭怲怳怴怵怶怷怸怹怺怼悙怿。恀恁恂恃恄恅，恒忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂，怃怄怅怆怇怈怉怊怋怌怍応损捠捡换，攴朰朲朳枛</span>。</span></span></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-2-5b2c9cb94aeb8342382 > .column_inner {
                                                            padding-left: 0;
                                                            padding-right: 27px;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-2-5b2c9cb94aeb8342382 {
                                                            width: 71.8%;
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-2-5b2c9cb94aeb8342382 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top:;
                                                            padding-bottom:;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-2-5b2c9cb94aeb8342382 {
                                                            width: 71.8%;
                                                        }

                                                        .qfy-column-2-5b2c9cb94aeb8342382 > .column_inner > .background-overlay, .qfy-column-2-5b2c9cb94aeb8342382 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                    <div data-animaleinbegin="bottom-in-view"
                                                         data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
                                                         class=" qfy-column-3-5b2c9cb94b73b35070 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-Default mobileHidden notfullrow"
                                                         data-dw="1/3" data-fixheight="">
                                                        <div style="max-width:508px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
                                                             class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-0"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <style>
                                                                    @media screen and (max-width: 760px) {
                                                                        .g932 .qfe_images_lib_isotope .gimg {
                                                                            width: 99.5%;
                                                                        }
                                                                    }

                                                                    @media screen and (min-width: 760px) {
                                                                        .g932 .qfe_images_lib_isotope .gimg {
                                                                            width: 99.5%;
                                                                        }
                                                                    }
                                                                </style>
                                                                <style>@media only screen and (max-width: 760px) {
                                                                    .single_image_text-5b2c9cb94c453982 .head {
                                                                        font-size: 16px !important;
                                                                    }

                                                                    .single_image_text-5b2c9cb94c453982 .content {
                                                                        font-size: 16px !important;
                                                                    }
                                                                }</style>
                                                                <div m-padding="0 0 0 0" p-padding="0 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_images_carousel_ccg4v"
                                                                     data-anitime="0.7"
                                                                     class="qfy-element qfe_images_lib qfe_content_element vc_clearfix"
                                                                     style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                                                    <div class="qfe_wrapper g932">


                                                                        <div class="qfe_images_lib_isotope  isotope"
                                                                             data-liblayout="masonry" data-width="0"
                                                                             style="position: relative; overflow: hidden; height: 570px;">

                                                                            <div class="vc-item images gimg isotope-item"
                                                                                 style="margin-bottom: 10px; padding-left: 0px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                                                                                <div class="vc-inner"
                                                                                     style="text-align:right">
                                                                                    <a class="qfy_thickbox bitImageAhover "
                                                                                       thumbpath="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/cdc20d86ff59fe426de29aa19cde368d-150x150.jpg"
                                                                                       href="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/cdc20d86ff59fe426de29aa19cde368d.jpg?ai-no-cache=true"
                                                                                       rel="gallery-group-5b2c9cb94c49b862314">
                                                                                        <img style="" class=""
                                                                                             src="{% static 'images/cdc20d86ff59fe426de29aa19cde368d-250x180.jpg' %}"
                                                                                             alt="IMG_1975-540x540"
                                                                                             description=""
                                                                                             data-attach-id="15229"
                                                                                             data-title="IMG_1975-540x540"
                                                                                             title="" src-img=""><i></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>

                                                                            <div class="vc-item images gimg isotope-item"
                                                                                 style="margin-bottom: 10px; padding-left: 0px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 190px, 0px);">
                                                                                <div class="vc-inner"
                                                                                     style="text-align:right">
                                                                                    <a class="qfy_thickbox bitImageAhover "
                                                                                       thumbpath="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/75bd2af56709b6cdfb935b8368027b89-150x150.jpg"
                                                                                       href="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/75bd2af56709b6cdfb935b8368027b89.jpg?ai-no-cache=true"
                                                                                       rel="gallery-group-5b2c9cb94c49b862314">
                                                                                        <img style="" class=""
                                                                                             src="{% static 'images/75bd2af56709b6cdfb935b8368027b89-250x180.jpg' %}"
                                                                                             alt="IMG_2419-540x540"
                                                                                             description=""
                                                                                             data-attach-id="15230"
                                                                                             data-title="IMG_2419-540x540"
                                                                                             title="" src-img=""><i></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>

                                                                            <div class="vc-item images gimg isotope-item"
                                                                                 style="margin-bottom: 10px; padding-left: 0px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 380px, 0px);">
                                                                                <div class="vc-inner"
                                                                                     style="text-align:right">
                                                                                    <a class="qfy_thickbox bitImageAhover "
                                                                                       thumbpath="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/a3bbf5917b6fe0b43fa6cb767be8dbb9-150x150.jpg"
                                                                                       href="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/qfy-content/uploads/2017/10/a3bbf5917b6fe0b43fa6cb767be8dbb9.jpg?ai-no-cache=true"
                                                                                       rel="gallery-group-5b2c9cb94c49b862314">
                                                                                        <img style="" class=""
                                                                                             src="{% static 'images/a3bbf5917b6fe0b43fa6cb767be8dbb9-250x180.jpg' %}"
                                                                                             alt="IMG_2611-540x540"
                                                                                             description=""
                                                                                             data-attach-id="15231"
                                                                                             data-title="IMG_2611-540x540"
                                                                                             title="" src-img=""><i></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-3-5b2c9cb94b73b35070 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-3-5b2c9cb94b73b35070 {
                                                            width: 28.137254901960784%;
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-3-5b2c9cb94b73b35070 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            min-height: 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-3-5b2c9cb94b73b35070 {
                                                            width: 28.137254901960784%;
                                                        }

                                                        .qfy-column-3-5b2c9cb94b73b35070 > .column_inner > .background-overlay, .qfy-column-3-5b2c9cb94b73b35070 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                    <div class="wf-mobile-hidden qfy-clumn-clear"
                                                         style="clear:both;"></div>
                                                </div>
                                            </div>

                                        </section>
                                    </div>


                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div><!-- END .page-wrapper -->
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>


                </div>

            </div><!-- .wf-container -->
        </div><!-- .wf-wrap -->
    </div><!-- #main -->{% endblock %}