{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}所有商品-花语{% endblock %}
{% block content %}
    <div id="main" class="bit_main_content">


        <div class="main-gradient"></div>

        <div class="wf-wrap">
            <div class="wf-container-main">


                <div id="content" class="content" role="main">


                    <div class="main-outer-wrapper ">
                        <div class="bit_row">

                            <div class="twelve columns no-sidebar-content ">

                                <div class="bit_row">

                                    <div class="content-wrapper twelve columns ">
                                        <section data-fixheight=""
                                                 class="qfy-row-1-5b2c9c9d6f7db116031 section     no  section-text-no-shadow section-inner-no-shadow section-normal"
                                                 id="bit_wg6og"
                                                 style="margin-bottom:0;border-radius:0px;color:#666666;">
                                            <style class="row_class qfy_style_class">
                                                @media only screen and (min-width: 992px) {
                                                    section.section.qfy-row-1-5b2c9c9d6f7db116031 {
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        padding-top: 40px;
                                                        padding-bottom: 100px;
                                                        margin-top: 0;
                                                    }

                                                    section.section.qfy-row-1-5b2c9c9d6f7db116031 > .container {
                                                        max-width: 1280px;
                                                        margin: 0 auto;
                                                    }
                                                }

                                                @media only screen and (max-width: 992px) {
                                                    .bit-html section.section.qfy-row-1-5b2c9c9d6f7db116031 {
                                                        padding-left: 15px;
                                                        padding-right: 15px;
                                                        padding-top: 20px;
                                                        padding-bottom: 20px;
                                                        margin-top: 0;
                                                        min-height: 0;
                                                    }
                                                }
                                            </style>
                                            <div class="section-background-overlay background-overlay grid-overlay-0 "
                                                 style="background-color: #ffffff;"></div>

                                            <div class="container">
                                                <div class="row qfe_row">
                                                    <div data-animaleinbegin="bottom-in-view"
                                                         data-animalename="qfyfadeInUp" data-duration="1" data-delay=""
                                                         class=" qfy-column-1-5b2c9c9d6fb6a623417 qfy-column-inner  vc_span12  text-center small-screen-Default fullrow"
                                                         data-dw="1/1" data-fixheight="">
                                                        <div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;border-radius:0px;;position:relative;"
                                                             class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-0"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <style>@media only screen and (max-width: 768px) {
                                                                    .single_image_text-5b2c9c9d70925320 .head {
                                                                        font-size: 16px !important;
                                                                    }

                                                                    .single_image_text-5b2c9c9d70925320 .content {
                                                                        font-size: 16px !important;
                                                                    }
                                                                }</style>
                                                                <div id="vc_img_5b2c9c9d7085e469"
                                                                     style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;"
                                                                     m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_single_image_ltr42" data-anitime="0.7"
                                                                     class="qfy-element bitImageControlDiv "><a
                                                                        class="bitImageAhover  ">
                                                                    <div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
                                                                        <div class="qfe_wrapper"><span></span><img
                                                                                width="2000" height="490"
                                                                                src="{% static "images/e5cb4c013f9b15f9a364b5c5209fdf72.jpg" %}"
                                                                                class="front_image  attachment-full"
                                                                                alt="about_bg00" title="" description=""
                                                                                data-title="about_bg00" src-img=""
                                                                                style=""></div>
                                                                    </div>
                                                                </a></div>
                                                                <a class="bitImageAhover  "> </a>
                                                                <div m-padding="25px 0 13px 0" p-padding="52px 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_7oeg6" data-anitime="0.7"
                                                                     class="qfy-element qfy-text qfy-text-80173 qfe_text_column qfe_content_element  mobile_fontsize "
                                                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:52px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
                                                                    <div class="qfe_wrapper">
                                                                        <div style="position: relative;">
                                                                            <div style="text-align: center;"><span
                                                                                    style="color:#666666;">&nbsp;</span><span
                                                                                    style="font-family:raleway;">All the goods</span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div m-padding="0 0 5px 0" p-padding="20px 0 40px 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_mit7b" data-anitime="0.7"
                                                                     class="qfy-element qfy-text qfy-text-44115 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:40px;padding-right:0;padding-left:0;border-radius:0px;display:inline-block;max-width:800px;">
                                                                    <div class="qfe_wrapper">
                                                                        <div style="text-align: center;"><span
                                                                                style="font-family:raleway;"><span
                                                                                style="font-size:13px;"><span
                                                                                style="color:#808080;"><span
                                                                                style="line-height: 1;">Whether you are a regular Internet user or a professional website maker, you can use the launch page to design the most professional website.Take off page provides a lot of beautiful website, website templates and finished products almost cover built in various industries, today you just small changes on the template to complete their own websites, all this is free of charge.</span></span></span></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div m-padding="0 0 0 0" p-padding="54px 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="products_list_64hsm" data-post="product"
                                                                     post_cate=""
                                                                     class="qfy-element mobilenopadding grid_products qfyproductlist"
                                                                     id="qfy-product-5b2c9c9d710b665896"
                                                                     style="margin-top:0;margin-bottom:0;padding-top:54px;padding-bottom:0;padding-right:0;padding-left:0;">
                                                                    <style>html #content #qfy-product-5b2c9c9d710b665896 nav.bitcommerce-pagination {
                                                                        text-align: left
                                                                    }

                                                                    html #content #qfy-product-5b2c9c9d710b665896 .bitcommerce-pagination {
                                                                        position: relative;
                                                                        left: 0px
                                                                    }

                                                                    html #content #qfy-product-5b2c9c9d710b665896 .bitcommerce-pagination {
                                                                        position: relative;
                                                                        top: 0px
                                                                    }

                                                                    html #qfy-product-5b2c9c9d710b665896 ul.products li.product {
                                                                        padding-bottom: 15px
                                                                    }

                                                                    html #qfy-product-5b2c9c9d710b665896 ul.products li.product h3 {
                                                                        font-size: 14px
                                                                    }

                                                                    html #qfy-product-5b2c9c9d710b665896 ul.products li.product .wd_product_wrapper, html #qfy-product-5b2c9c9d710b665896 ul.products li.product .product_cate {
                                                                        text-align: center;
                                                                    }

                                                                    html #qfy-product-5b2c9c9d710b665896 ul.products li.product .qfycustomtable .qfycustomtd {
                                                                        text-align: center;
                                                                    }</style>
                                                                    <div class="bitcommerce defaultminheight mobile-columns-2 columns-4">
                                                                        <ul class="products">
                                                                            <div class="">
                                                                                {% for all_good in all_goods %}
                                                                                    <div class="vc-item">
                                                                                        <li class="post-12992 product type-product status-publish {% if  forloop.counter|divisibleby:5 %} first mobile_first {% endif %} product shipping-taxable purchasable product-type-simple product-cat-%e6%89%80%e6%9c%89%e5%95%86%e5%93%81 instock site_drag_container">
                                                                                            <div class="wd_product_wrapper"
                                                                                                 data-proid="12992">
                                                                                                <div border="0"
                                                                                                     width="100%"
                                                                                                     style="table-layout:fixed;"
                                                                                                     class="qfycustomtable">
                                                                                                    <div class="qfycustomtr">
                                                                                                        <div class="qfycustomtd lefttd"
                                                                                                             valign="top">
                                                                                                            <a class="product_a pitem" href="{% url 'goods:info' all_good.id %}" target="">
                                                                                                                <div class="front-image product_img ">
                                                                                                                    <img width="100" height="100" class="ag_image" src="{{ MEDIA_URL }}{{ all_good.image }}"/>
                                                                                                                    <i></i>
                                                                                                                </div>
                                                                                                            </a>

                                                                                                        </div>
                                                                                                        <div class="qfycustomtd righttd"
                                                                                                             valign="top">
                                                                                                            <a href="{% url 'goods:info' all_good.id %}" target="">
                                                                                                                <h3 class="product_title pitem">
                                                                                                                    {{ all_good.name }}</h3>
                                                                                                            </a>
                                                                                                            <div class="pitem">

                                                                                                            <span class="price"><span
                                                                                                                    class="amount">¥{{ all_good.price }}</span></span>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-1-5b2c9c9d6fb6a623417 > .column_inner {
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-1-5b2c9c9d6fb6a623417 {
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-1-5b2c9c9d6fb6a623417 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            min-height: 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-1-5b2c9c9d6fb6a623417 {
                                                        }

                                                        .qfy-column-1-5b2c9c9d6fb6a623417 > .column_inner > .background-overlay, .qfy-column-1-5b2c9c9d6fb6a623417 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                </div>
                                            </div>

                                        </section>
                                    </div>


                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div><!-- END .page-wrapper -->
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>


                </div>

            </div><!-- .wf-container -->
        </div><!-- .wf-wrap -->
    </div><!-- #main -->
{% endblock %}