{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}线下门店-花语{% endblock %}
{% block content %}
    <div id="main" class="bit_main_content">


        <div class="main-gradient"></div>

        <div class="wf-wrap">
            <div class="wf-container-main">


                <div id="content" class="content" role="main">


                    <div class="main-outer-wrapper ">
                        <div class="bit_row">

                            <div class="twelve columns no-sidebar-content ">

                                <div class="bit_row">

                                    <div class="content-wrapper twelve columns ">
                                        <section data-fixheight=""
                                                 class="qfy-row-1-5b2c9cc378adb686496 section     no  section-text-no-shadow section-inner-no-shadow section-normal"
                                                 id="bit_rul16"
                                                 style="margin-bottom:0;border-radius:0px;border-top:1px dotted rgba(191,191,191,1);border-bottom:0px solid rgba(219,219,219,1);border-left:0px solid rgba(219,219,219,1);border-right:0px solid rgba(219,219,219,1);color:#666666;">
                                            <style class="row_class qfy_style_class">
                                                @media only screen and (min-width: 992px) {
                                                    section.section.qfy-row-1-5b2c9cc378adb686496 {
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        padding-top: 40px;
                                                        padding-bottom: 150px;
                                                        margin-top: 0;
                                                    }

                                                    section.section.qfy-row-1-5b2c9cc378adb686496 > .container {
                                                        max-width: 1100px;
                                                        margin: 0 auto;
                                                    }
                                                }

                                                @media only screen and (max-width: 992px) {
                                                    .bit-html section.section.qfy-row-1-5b2c9cc378adb686496 {
                                                        padding-left: 15px;
                                                        padding-right: 15px;
                                                        padding-top: 40px;
                                                        padding-bottom: 150px;
                                                        margin-top: 0;
                                                        min-height: 0;
                                                    }
                                                }
                                            </style>
                                            <div class="section-background-overlay background-overlay grid-overlay-0 "
                                                 style="background-color: #ffffff;"></div>

                                            <div class="container">
                                                <div class="row qfe_row">
                                                    <div data-animaleinbegin="bottom-in-view"
                                                         data-animalename="qfyfadeInUp" data-duration="" data-delay=""
                                                         class=" qfy-column-1-5b2c9cc378e0d101735 qfy-column-inner  vc_span_class  vc_span8  text-default small-screen-undefined notfullrow"
                                                         data-dw="2/3" data-fixheight="">
                                                        <div style=";position:relative;" class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <style>@media only screen and (max-width: 768px) {
                                                                    .single_image_text-5b2c9cc37a239629 .head {
                                                                        font-size: 16px !important;
                                                                    }

                                                                    .single_image_text-5b2c9cc37a239629 .content {
                                                                        font-size: 16px !important;
                                                                    }
                                                                }</style>
                                                                <div id="vc_img_5b2c9cc37a178704"
                                                                     style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;"
                                                                     m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_single_image_el65h" data-anitime="0.7"
                                                                     class="qfy-element bitImageControlDiv "><a
                                                                        class="bitImageAhover  ">
                                                                    <div class="bitImageParentDiv qfe_single_image qfe_content_element vc_align_center">
                                                                        <div class="qfe_wrapper"><span></span><img
                                                                                class="front_image   ag_image"
                                                                                src="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/?page_id=9578"
                                                                                alt="" description=""
                                                                                data-attach-id="9605" data-title=""
                                                                                title="" src-img=""
                                                                                style="-webkit-filter: contrast(60%) saturate(0%) ;filter:contrast(60%) saturate(0%) ;">
                                                                        </div>
                                                                    </div>
                                                                </a></div>
                                                                <a class="bitImageAhover  "> </a>
                                                                <div m-padding="1px 0 0 0" p-padding="34px 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_rzt7c"
                                                                     class="qfy-element qfy-text qfy-text-82654 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:34px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
                                                                    <div class="qfe_wrapper">
                                                                        <div><span style="color:#696969;"><span
                                                                                style="font-family:微软雅黑;"><span
                                                                                style="font-size:13px;">地址：江苏省苏州市工业园区金鸡湖大道99号</span></span></span>
                                                                        </div>

                                                                        <div><span style="color:#696969;"><span
                                                                                style="font-family:微软雅黑;"><span
                                                                                style="font-size:13px;">电话：400 6666 6666</span></span></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div m-padding="23px 0px 11px 0px"
                                                                     p-padding="41px 0 11px 0" css_animation_delay="0"
                                                                     qfyuuid="qfy_column_text_8gwcu"
                                                                     class="qfy-element qfy-text qfy-text-3419 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:41px;padding-bottom:11px;padding-right:0;padding-left:0;border-radius:0px;">
                                                                    <div class="qfe_wrapper">
                                                                        <div><span style="color:#696969;"><font
                                                                                face="宋体"><span
                                                                                style="font-size: 13px;"><span
                                                                                style="font-family:微软雅黑;">您也可以通过表单联系我们：</span></span></font></span><font
                                                                                color="#000000" face="宋体"><span
                                                                                style="font-size: 13px;"></span></font>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div data-tag="iphorm_vc" data-id="66"
                                                                     m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
                                                                     css_animation_delay="0" qfyuuid="iphorm_vc_g7eob"
                                                                     class="qfy-element qfe_layerslider_element qfe_content_element"
                                                                     style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                                                    <div id="iphorm-outer-5b2c9cc37b35e"
                                                                         class="bitWidgetFrame iphorm-outer iphorm-outer-66 iphorm-uniform-theme-default">

                                                                        <form id="iphorm-5b2c9cc37b35e"
                                                                              class="iphorm iphorm-form-66"
                                                                              action="{% url 'stores:downline' %}"
                                                                              method="post"
                                                                              enctype="multipart/form-data">
                                                                            <div class="iphorm-inner iphorm-inner-66">
                                                                                <input type="hidden" name="iphorm_id"
                                                                                       value="66">
                                                                                <input type="hidden" name="iphorm_uid"
                                                                                       value="5b2c9cc37b35e">
                                                                                <input type="hidden" name="form_url"
                                                                                       value="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/?page_id=9578">
                                                                                <input type="hidden"
                                                                                       name="referring_url"
                                                                                       value="http://w-70982-96990-52773.10615136203.sites.cnfree04.qifeiye.com/?page_id=10163">
                                                                                <input type="hidden" name="post_id"
                                                                                       value="9578">
                                                                                <input type="hidden" name="post_title"
                                                                                       value="线下门店">

                                                                                <div class="iphorm-success-message iphorm-hidden"></div>
                                                                                <div class="iphorm-error-message iphorm-hidden"></div>
                                                                                <input type="hidden" class="popaction"
                                                                                       value="">
                                                                                <div class="iphorm-elements iphorm-elements-66 iphorm-clearfix">
                                                                                    <div class="iphorm-group-wrap iphorm_66_5-group-wrap iphorm-clearfix iphorm-labels-inside iphorm-group-style-plain iphorm-group-alignment-proportional">
                                                                                        <div class="iphorm-group-elements">
                                                                                            <div class="iphorm-group-row iphorm-clearfix iphorm-group-row-2cols last-child">
                                                                                                <div class="iphorm-element-wrap iphorm-element-wrap-text iphorm_66_1-element-wrap iphorm-clearfix iphorm-labels-inside iphorm-element-required">
                                                                                                    <div class="iphorm-element-spacer iphorm-element-spacer-text iphorm_66_1-element-spacer">
                                                                                                        <label for="iphorm_66_1_5b2c9cc37b35e"
                                                                                                               style="color: rgb(102, 102, 102);font-size: 13px;line-height:40px;margin-top:0;;">
                                                                                                            姓名 </label>
                                                                                                        <div class="iphorm-input-wrap iphorm-input-wrap-text iphorm_66_1-input-wrap">
                                                                                                            <input class="iphorm-element-text  iphorm_66_1"
                                                                                                                   id="iphorm_66_1_5b2c9cc37b35e"
                                                                                                                   type="text"
                                                                                                                   name="name"
                                                                                                                   value=""
                                                                                                                   placeholder=""
                                                                                                                   style="background-color: rgb(242, 242, 242);border: 1px solid rgb(242, 242, 242);height: 40px;font-size: 14px;">
                                                                                                        </div>
                                                                                                        <div class="iphorm-errors-wrap iphorm-hidden">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="iphorm-element-wrap iphorm-element-wrap-text iphorm_66_2-element-wrap iphorm-clearfix iphorm-labels-inside iphorm-element-optional last-child">
                                                                                                    <div class="iphorm-element-spacer iphorm-element-spacer-text iphorm_66_2-element-spacer">
                                                                                                        <label for="iphorm_66_2_5b2c9cc37b35e"
                                                                                                               style="color: rgb(102, 102, 102);font-size: 13px;line-height:40px;margin-top:0;;">
                                                                                                            电话 </label>
                                                                                                        <div class="iphorm-input-wrap iphorm-input-wrap-text iphorm_66_2-input-wrap">
                                                                                                            <input class="iphorm-element-text  iphorm_66_2"
                                                                                                                   id="iphorm_66_2_5b2c9cc37b35e"
                                                                                                                   type="text"
                                                                                                                   name="mobile"
                                                                                                                   value=""
                                                                                                                   placeholder=""
                                                                                                                   style="background-color: rgb(242, 242, 242);border: 1px solid rgb(242, 242, 242);height: 40px;font-size: 14px;">
                                                                                                        </div>
                                                                                                        <div class="iphorm-errors-wrap iphorm-hidden">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!-- /.iphorm-group-row -->
                                                                                        </div>
                                                                                        <!-- /.iphorm-group-elements -->
                                                                                    </div> <!-- /.iphorm-group-wrap -->
                                                                                    <div class="iphorm-element-wrap iphorm-element-wrap-text iphorm_66_3-element-wrap iphorm-clearfix iphorm-labels-inside iphorm-element-required">
                                                                                        <div class="iphorm-element-spacer iphorm-element-spacer-text iphorm_66_3-element-spacer">
                                                                                            <label for="iphorm_66_3_5b2c9cc37b35e"
                                                                                                   style="color: rgb(102, 102, 102);font-size: 13px;line-height:40px;margin-top:0;;">
                                                                                                邮箱 </label>
                                                                                            <div class="iphorm-input-wrap iphorm-input-wrap-text iphorm_66_3-input-wrap">
                                                                                                <input class="iphorm-element-text  iphorm_66_3"
                                                                                                       id="iphorm_66_3_5b2c9cc37b35e"
                                                                                                       type="text"
                                                                                                       name="email"
                                                                                                       value=""
                                                                                                       placeholder=""
                                                                                                       style="background-color: rgb(242, 242, 242);border: 1px solid rgb(242, 242, 242);height: 40px;font-size: 14px;">
                                                                                            </div>
                                                                                            <div class="iphorm-errors-wrap iphorm-hidden">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="iphorm-element-wrap iphorm-element-wrap-textarea iphorm_66_4-element-wrap iphorm-clearfix iphorm-labels-inside iphorm-element-required">

                                                                                        <div class="iphorm-element-spacer iphorm-element-spacer-textarea iphorm_66_4-element-spacer">
                                                                                            <label for="iphorm_66_4_5b2c9cc37b35e"
                                                                                                   style="color: rgb(102, 102, 102);font-size: 13px;line-height:13px;">
                                                                                                内容 </label>
                                                                                            <div class="iphorm-input-wrap iphorm-input-wrap-textarea iphorm_66_4-input-wrap">
                                                                                                <textarea placeholder=""
                                                                                                          class="iphorm-element-textarea  iphorm_66_4"
                                                                                                          id="iphorm_66_4_5b2c9cc37b35e"
                                                                                                          name="course_name"
                                                                                                          style="background-color: rgb(242, 242, 242);border: 1px solid rgb(242, 242, 242);font-size: 14px;"
                                                                                                          rows="3"
                                                                                                          cols="25"></textarea>
                                                                                            </div>
                                                                                            <div class="iphorm-errors-wrap iphorm-hidden">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="iphorm-hidden">
                                                                                        <label>这个输入框应该是留空的<input
                                                                                                type="text"
                                                                                                name="iphorm_66_0"></label>
                                                                                    </div>
                                                                                    <div class="iphorm-submit-wrap iphorm-submit-wrap-66 iphorm-clearfix">

                                                                                        <div class="iphorm-submit-input-wrap iphorm-submit-input-wrap-66">

                                                                                            <button class="iphorm-submit-element"
                                                                                                    type="submit"
                                                                                                    name="iphorm_submit"
                                                                                                    style="font-size: 14px;line-height:14px;;">
                                                                                                <span style="font-size: 14px;line-height:14px;;padding-left: 40px !important;;background-color: #333333;border: 1px solid #333333;"><em
                                                                                                        style="color: #ffffff;font-size: 14px;line-height:14px;padding:8px 40px 8px 0;;background-color: #333333;">发送</em></span>
                                                                                            </button>

                                                                                            <div style="display:inline-block;">
                                                                                                <div class="iphorm-loading-wrap">
                                                                                                    <span class="iphorm-loading">请稍候</span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>


                                                                                    </div>
                                                                                    <style>.iphorm-elements-66, .iphorm-elements-66 button, .iphorm-elements-66 input, .iphorm-elements-66 select, .iphorm-elements-66 textarea {
                                                                                        font-family: 微软雅黑;
                                                                                        font-style: normal
                                                                                    }

                                                                                    .iphorm-submit-wrap-66 button.iphorm-submit-element:hover span, .iphorm-submit-wrap-66 button.iphorm-submit-element:hover em {
                                                                                        background-color: #000000 !important;
                                                                                    }

                                                                                    .iphorm-submit-wrap-66 button.iphorm-submit-element:hover span, .iphorm-submit-wrap-66 button.iphorm-submit-element:hover em {
                                                                                        border-color: #000000 !important;
                                                                                    }

                                                                                    .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-text input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-captcha input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-password input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap select, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap textarea {
                                                                                        width: 100%;
                                                                                        max-width: 100% !important;
                                                                                    }

                                                                                    .iphorm-elements.iphorm-elements-66 .iphorm-group-wrap, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-text, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-captcha, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-password, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap {
                                                                                        width: 100% !important;
                                                                                        max-width: 100% !important;
                                                                                    }

                                                                                    .iphorm-submit-wrap-66 .iphorm-submit-input-wrap {
                                                                                        width: 100% !important;
                                                                                        max-width: 100% !important;
                                                                                    }

                                                                                    .iphorm-submit-wrap-66 .iphorm-submit-input-wrap button {
                                                                                        margin: 0;
                                                                                    }

                                                                                    .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-text input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-captcha input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap-password input, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap select, .iphorm-elements.iphorm-elements-66 .iphorm-element-wrap textarea {
                                                                                        border-radius: 0px;
                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-element-wrap-text input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-captcha input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-password input,
                                                                                    .iphorm-elements-66 .iphorm-input-wrap-select select,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap select, .iphorm-elements .iphorm-element-wrap textarea {
                                                                                        box-shadow: none !important;
                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-element-wrap-text input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-captcha input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-password input,
                                                                                    .iphorm-elements-66 .iphorm-input-wrap-select select,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap select,
                                                                                    .iphorm-elements-66 .iphorm-input-wrap-select select,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap textarea {
                                                                                        background-color: rgba(242, 242, 242, 1) !important;
                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-input-li > label {
                                                                                        font-size: 14px;
                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-element-spacer {
                                                                                        padding-bottom: 10px
                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-element-wrap-text input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-captcha input,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap-password input,
                                                                                    .iphorm-elements-66 .iphorm-input-wrap-select select,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap select,
                                                                                    .iphorm-elements-66 .iphorm-input-wrap-select select,
                                                                                    .iphorm-elements-66 .iphorm-element-wrap textarea {
                                                                                        border-width: 1px !important;
                                                                                        border-color: #f2f2f2 !important;

                                                                                    }

                                                                                    .iphorm-elements-66 .iphorm-submit-input-wrap {
                                                                                        float: none !important;
                                                                                        text-align: left !important;
                                                                                    }</style>
                                                                                </div>

                                                                            </div>
                                                                            {% csrf_token %}
                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-1-5b2c9cc378e0d101735 > .column_inner {
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-1-5b2c9cc378e0d101735 {
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-1-5b2c9cc378e0d101735 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top:;
                                                            padding-bottom:;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-1-5b2c9cc378e0d101735 {
                                                        }

                                                        .qfy-column-1-5b2c9cc378e0d101735 > .column_inner > .background-overlay, .qfy-column-1-5b2c9cc378e0d101735 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                    <div data-animaleinbegin="bottom-in-view"
                                                         data-animalename="qfyfadeInUp" data-duration="" data-delay=""
                                                         class=" qfy-column-2-5b2c9cc38469d687338 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-undefined notfullrow"
                                                         data-dw="1/3" data-fixheight="">
                                                        <div style="margin-top:0;margin-bottom:0;margin-left:70px;margin-right:0;border-radius:0px;border-top:1px solid rgba(224,224,224,1);border-bottom:1px solid rgba(224,224,224,1);border-left:1px solid rgba(224,224,224,1);border-right:1px solid rgba(224,224,224,1);;position:relative;"
                                                             class="column_inner ">
                                                            <div class=" background-overlay grid-overlay-0"
                                                                 style="background-color:transparent;width:100%;"></div>
                                                            <div class="column_containter"
                                                                 style="z-index:3;position:relative;">
                                                                <div m-padding="29px 0 0 0" p-padding="0 0 0 0"
                                                                     css_animation_delay="0" qfyuuid="0"
                                                                     class="qfy-element qfy-text qfy-text-16529 qfe_text_column qfe_content_element  "
                                                                     style="position: relative;;;line-height:1.5em;;background-repeat: no-repeat;;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                                                    <div class="qfe_wrapper">
                                                                        <div style="position: relative;">
                                                                            <div style="text-align: center;"><span
                                                                                    style="color:#696969;"><span
                                                                                    style="font-family:微软雅黑;"><span
                                                                                    style="font-size:18px;">门店坐标</span></span></span>
                                                                            </div>

                                                                            <div style="text-align: center;"><span
                                                                                    style="color:#696969;"><span
                                                                                    style="font-size:12px;"><span
                                                                                    style="font-family: &quot;times new roman&quot;; word-spacing: normal;">CONTACT US</span></span></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div id="icon-5b2c9cc384f57870072"
                                                                     style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"
                                                                     m-padding="0 0 0 0" p-padding="0 0 0 0"
                                                                     css_animation_delay="0" qfyuuid="qfy_icon_5btiu"
                                                                     data-anitime="0.7"
                                                                     class="qfy-element vc_icon_element vc_icon_element-outer delay0 vc_icon_element-align-center icon-fontawesome">
                                                                    <style>
                                                                    </style>
                                                                    <div class=" vc_icon_element-inner vc_icon_element-color- vc_icon_element-size-xs vc_icon_element-style- vc_icon_element-background-color-">
                                                                        <span class="vc_icon_element-icon fa fa-angle-double-down"
                                                                              style="color:#b5b5b5;"></span>
                                                                    </div>


                                                                </div>

                                                                <div m-padding="0px 0px 0px 0px" p-padding="0 0 0 0"
                                                                     css_animation_delay="0"
                                                                     qfyuuid="qfy_bit_qqmaps_ahwo5"
                                                                     class="qfy-element qfe_gmaps_widget qfe_content_element "
                                                                     style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                                                    <div class="qfe_wrapper">
                                                                        <style>#vc-map-5b2c9cc3853e549231 {
                                                                            height: 350px !important
                                                                        }

                                                                        @media only screen and (max-width: 760px) {
                                                                            .bit-html #vc-map-5b2c9cc3853e549231 {
                                                                                height: 200px !important;
                                                                            }
                                                                        }</style>
                                                                        <div id="vc-map-5b2c9cc3853e549231"
                                                                             class="qfe_map_wraper" style="">
{#                                                                            <iframe width="100%" height="100%"#}
{#                                                                                    frameborder="0" scrolling="no"#}
{#                                                                                    marginheight="0" marginwidth="0"#}
{#                                                                                    src="./downline_files/bit_baidumaps.html"></iframe>#}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <style class="column_class qfy_style_class">@media only screen and (min-width: 992px) {
                                                        .qfy-column-2-5b2c9cc38469d687338 > .column_inner {
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 40px;
                                                            padding-bottom: 0;
                                                        }

                                                        .qfe_row .vc_span_class.qfy-column-2-5b2c9cc38469d687338 {
                                                        }

                                                    ;
                                                    }

                                                    @media only screen and (max-width: 992px) {
                                                        .qfy-column-2-5b2c9cc38469d687338 > .column_inner {
                                                            margin: 0 auto 0 !important;
                                                            min-height: 0 !important;
                                                            padding-left: 0;
                                                            padding-right: 0;
                                                            padding-top: 0;
                                                            padding-bottom: 0;
                                                        }

                                                        .display_entire .qfe_row .vc_span_class.qfy-column-2-5b2c9cc38469d687338 {
                                                        }

                                                        .qfy-column-2-5b2c9cc38469d687338 > .column_inner > .background-overlay, .qfy-column-2-5b2c9cc38469d687338 > .column_inner > .background-media {
                                                            width: 100% !important;
                                                            left: 0 !important;
                                                            right: auto !important;
                                                        }
                                                    }</style>
                                                    <div class="wf-mobile-hidden qfy-clumn-clear"
                                                         style="clear:both;"></div>
                                                </div>
                                            </div>

                                        </section>
                                    </div>


                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div><!-- END .page-wrapper -->
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>


                </div>

            </div><!-- .wf-container -->
        </div><!-- .wf-wrap -->
    </div><!-- #main -->{% endblock %}